<%- include('includes/header', { title: 'Регистрация' }) %>
<h1>Регистрация</h1>

<% if (errors.length > 0) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/register" method="POST" enctype="multipart/form-data">
  <label for="username">Имя пользователя *</label>
  <input type="text" name="username" id="username" required /><br />

  <label for="password">Пароль *</label>
  <input type="password" name="password" id="password" required /><br />

  <label for="email">Почта *</label>
  <input type="email" name="email" id="email" required /><br />

  <label for="displayName">Отображаемое имя</label>
  <input type="text" name="displayName" id="displayName" /><br />

  <label for="phoneNumber">Номер телефона</label>
  <input type="text" name="phoneNumber" id="phoneNumber" /><br />

  <label for="avatar">Аватарка</label>
  <input type="file" name="avatar" id="avatar" /><br />

  <button type="submit">Зарегистрироваться</button>
</form>
<%- include('includes/footer') %>
