body {
    background-image: url('/images/ui/default_background.png');
    background-size: cover; /* Изображение растянется по всему экрану */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Избежание повторения изображения */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.register-container {
    background-color: #2C2F33;
    padding: 20px;
    border-radius: 10px;
    width: 480px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }
  
  .register-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .register-container p {
    margin-bottom: 20px;
    color: #b9bbbe;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #b9bbbe;
  }
  
  input, select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #72767d;
    border-radius: 5px;
    background-color: #40444b;
    color: white;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #5865F2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #4752c4;
  }
  
  .checkbox-container {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .checkbox-container label {
    color: #b9bbbe;
  }
  
  .terms {
    margin-top: 20px;
    color: #b9bbbe;
  }
  
  .terms a, .login-link a {
    color: #00AFF4;
  }
  
  .terms a:hover, .login-link a:hover {
    text-decoration: underline;
  }
  
  .description {
    display: none;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #b9bbbe;
    font-size: 14px;
  }

  .dob-container {
    display: flex;
    gap: 10px; /* Отступы между элементами */
  }
  
  .dob-container select {
    flex: 1; /* Чтобы все поля были одинакового размера */
    padding: 10px;
    background-color: #40444b;
    border: 1px solid #72767d;
    border-radius: 5px;
    color: white;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Отступ между чекбоксом и текстом */
  }
  
  .checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  
  .checkbox-container label {
    color: #b9bbbe;
  }
  