body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* ----- FIRST ----- */

.firstbar {
    flex: 0 0 75px;
    height: 100vh;
}

/* ----- SECOND ----- */

.secondbar {
    flex: 0 0 240px;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Занимаем всю высоту экрана */
}

.sidebar {
    flex-grow: 1; /* Занимает всё оставшееся пространство */
}

.userbar {
    height: 50px; /* Фиксированная высота нижнего div */
    width: 100%; /* Занимает всю ширину */
}

/* ----- THIRD ----- */

.thirdbar {
    flex-grow: 1;
    height: 100vh;
}