body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* ----- FIRST ----- */

.firstbar {
    background-color: rgb(30, 31, 34);
    flex: 0 0 75px;
    height: 100vh;
}

/* ----- SECOND ----- */

.secondbar {
    flex: 0 0 240px;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Занимаем всю высоту экрана */
}

.sidebar {
    background-color: rgb(43, 45, 49);
    flex-grow: 1; /* Занимает всё оставшееся пространство */
}

.userbar {
    background-color: rgb(35, 36, 40);
    height: 50px; /* Фиксированная высота нижнего div */
    width: 100%; /* Занимает всю ширину */
}

/* ----- THIRD ----- */

.thirdbar {
    background-color: rgb(49, 51, 56);
    flex-grow: 1;
    height: 100vh;
}

.navbar, .userbar, .secondbar, .firstbar, iframe, body, html {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}
  